body {
    background-color: var(--background-color);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#feedback {
    color: var(--primary-color)
}

#winner_details {
    color: var(--winner-text-color);
    padding: 100px 0px;
}

#winner_name {
    font-size: 8rem;
    text-transform: capitalize;
}

#main_image {
    padding-top: 50px;
}

#controls {
    padding: 20px;
}

.pyprize-button {
    padding: 20px 50px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.pyprize-button:hover {
    filter: brightness(1.2);
    font-size: 2.55rem;
    cursor: hand;
}