{% extends "base.html" %}

{% block content %}

<div class="container">
    <a class="pyprize-button" id="freshen_import">Fresh Import</a><br>
    <a class="pyprize-button" id="wipe_data">Clear Database</a><br>

    <h3>Prizes Awarded</h3>

    <table class="table">
        {% for candidate in awarded %}
        <tr>
            <td>{{ candidate.drawn_at }}</td>
            <td>{{ candidate.awarded_prize }}</td>
            <td>{{ candidate.name }}</td>
        </tr>
        {% endfor  %}
    </table>

    <h3>Drawn but not Awarded</h3>

    <table class="table">
        {% for candidate in not_awarded %}
        <tr>
            <td>{{ candidate.drawn_at }}</td>
            <td>{{ candidate.awarded_prize }}</td>
            <td>{{ candidate.name }}</td>
        </tr>
        {% endfor  %}
    </table>

    <h3>Candidates not Drawn</h3>
    <ul>
        {% for candidate in candidates %}
        <li>{{ candidate.name }}</li>
        {% endfor  %}
    </ul>
</div>


<div id="controls" class="fixed-bottom">
    <div class="text-center">
        <p id='feedback'></p>
        <a class="pyprize-button" href="{{ url_for('core.index') }}"><i class="bi bi-house-door-fill"></i></a>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='/js/admin.js') }}"></script>
{% endblock %}
