{% extends "base.html" %}

{% block content %}

<div class="container">
    <a class="pyprize-button" id="freshen_import">Fresh Import</a><br>
    <a class="pyprize-button" id="wipe_data">Clear Database</a><br>

    <h2>Winners</h2>

    <table class="table">
        {% for winner in winners %}
        <tr>
            <td>{{ winner.drawn_at }}</td>
            <td>{{ winner.name }}</td>
        </tr>
        {% endfor  %}
    </table>

    <h2>Candidate Pool</h2>
    <ul>
        {% for candidate in candidates %}
        <li>{{ candidate.name }}</li>
        {% endfor  %}
    </ul>

    <!-- <h2>Candidates Discarded</h2>
    {% for candidate in candidates %}
    <li>{{ candidate.name }}</li>
    {% endfor  %} -->
</div>


<div id="controls" class="fixed-bottom">
    <div class="text-center">
        <p id='feedback'></p>
        <a class="pyprize-button" href="{{ url_for('core.index') }}"><i class="bi bi-house-door-fill"></i></a>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='/js/admin.js') }}"></script>
{% endblock %}
