{% extends "base.html" %}

{% block content %}

<div class="container">
    <a class="pyprize-button" id="freshen_import">Fresh Import</a><br>
    <a class="pyprize-button" id="wipe_data">Clear Database</a><br>
    <a class="pyprize-button" id="get_all_winners">Get all winners</a><br>
</div>

<div id="all_winners" class="text-center container">
    <table>
        <thead>
            <tr id="winner_names_header" class="d-none">
                <th>Winner Names</th>
            </tr>
        </thead>
        <tbody id="winner_names">
        </tbody>
    </table>
</div>

<div id="controls" class="fixed-bottom">
    <div class="text-center">
        <p id='feedback'></p>
        <a class="pyprize-button" href="{{ url_for('index') }}"><i class="bi bi-house-door-fill"></i></a>
    </div>
</div>

{% endblock %}
